#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #686868;
}

::-webkit-scrollbar-thumb {
  background-color: #06c7a0;
  border-radius: 15px;
}